@import url('https://fonts.googleapis.com/css2?family=Corben:wght@400;700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Quicksand:wght@300..700&display=swap');

:root {
    /*Cores do tema*/
    --violeta: #9800EF;
    --lilas: #C083EF;
    --lilas-mais-claro: #DCC0EF;
    --laranja: #E63329;
    --amarelo: #FF930A;
    --violeta-medio: #5F2B80;
    --violeta-escuro: #39005B;
    --violeta-mais-escuro: #28003F;
    --variacao-branco: #F2EFEB;
}

/* Estilo geral da página */
* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

#conteudoPagina {
    display: flex;
    flex-direction: column;
}

a:any-link {
    text-decoration: none;
}

/* Estilo da barra de navegação */
#barraNavegacao {
    padding-left: 2rem;
    padding-right: 2rem;
    min-height: 12vh;
    position: sticky;
    top: 0;
    z-index: 1;
}

#imgLogotipo {
    height: 30px;
    border-right: 1px solid var(--violeta);
    padding-right: 5px;
}

#navLogotipo {
    font-size: 1.5em;
    font-weight: 300;
}

#btAlterarTema {
    border: none;
    margin-left: 2px;
    font-size: 1.2em;
}

#btAlterarTema:hover {
    transform: scale(1.2, 1.2);
    transition: ease-in-out 0.3s;
}

#navBtContato {
    border-radius: 20px;
    padding: 8px 20px 8px 20px;
}

#navSecoes {
    text-align: center;
}

#navSecoes #navBtContato:hover {
    transition: ease-in-out 0.6s;
}

/* Estilo geral das seções */
.secao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80vh;
}

.conteudo-secao {
    padding: 2rem;
}

@media screen and (min-width: 768px) {
    .conteudo-secao {
        padding: 4rem;
        margin-left: 3rem;
        margin-right: 3rem;
    }
}

.titulo-secao, #textoInicio, #textoSobreMim {
    text-align: center;
}

.titulo-secao {
    font-family: "Outfit", sans-serif;
    font-size: 2.5em;
    font-weight: 600;
    position: relative;
    margin-bottom: 2rem;
    line-height: 2;
}

.titulo-secao::after {
    content: "";
    width: 50px;
    height: 3px;
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.subtitulo-secao {
    font-size: 1.2em;
    font-weight: 600;
}

/* Seção "Início" */
#textoInicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@media screen and (min-width: 768px) {
    #textoInicio {
        align-items: start;
        text-align: start;
        padding-right: 0.7rem;
        width: 90%;
    }
}

#imagemInicio img {
    width: 100%;
}

.titulo {
    font-family: "Outfit", sans-serif;
    font-size: 3.5em;
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 1.2rem;
}

.titulo span {
    font-family: "Outfit", sans-serif;
}

.subtitulo {
    font-size: 1.2em;
    margin-bottom: 1.5rem;
}

@media screen and (min-width: 992px) {
    .titulo {
        font-size: 4em;
    }

    .subtitulo {
        font-size: 1.6em;
    }
}

#btProsseguir, #btVoltarAoTopo {
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    transition: ease-in-out 0.6s;
    display: inline-block;
}

.fa-chevron-down, .fa-chevron-up {
    vertical-align: middle;
}

#btProsseguir:hover, #btVoltarAoTopo:hover {
    transform: scale(1.3, 1.3);
    transition: ease-in-out 0.6s;
}

/* Seção "Sobre mim" */
#fotoSobreMim {
    text-align: center;
    margin-bottom: 2rem;
}

#fotoSobreMim img{
    width: 260px;
    border-radius: 50%;
}

@media screen and (min-width: 992px) {
    #fotoSobreMim {
        text-align: end;
    }

    #fotoSobreMim img{
        width: 350px;
    }

    #textoSobreMim {
        align-items: start;
        text-align: start;
        padding-right: 0.7rem;
    }

    #textoSobreMim .texto-secao {
        font-size: 1.2em;
    }
}

#habilidades {
    display: flex;
    align-items: center;
    column-gap: 0.7rem;
    margin-top: 1rem;
}

#habilidades > i {
    font-size: 2.5em;
    transition: ease-in-out 0.6s;
}

#habilidades > i:hover, #habilidades .icon:hover {
    transform: scale(1.2, 1.2);
}

#habilidades .icon {
    padding: 0.3rem 0.5rem;
    border-radius: 10px;
    font-weight: 600;
    font-size: 1.2em;
    transition: ease-in-out 0.6s;
}

/* Seção "Projetos" */
.filtros {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    list-style: none;
}

@media screen and (min-width: 768px) {
    .filtros {
        flex-direction: row;
        font-size: 1.2em;
    }
}

.filtro {
    cursor: pointer;
}

.filtro.ativo {
    padding: 0px 8px 0px 8px;
    border-radius: 7px;
}

.projetos {
    display: flex;
    justify-content: center;
    row-gap: 2rem;
}

.card-projeto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    border-radius: 20px;
    position: relative;
}

@media screen and (min-width: 768px) {
    .card-projeto {
        margin: 1rem;
    }
}

.capa-card {
    text-align: center;
    opacity: 1;
    transition: ease-in-out 0.5s;
    width: 100%;
}

.thumbnail-projeto {
    width: 100%;
    border-radius: 20px;
}

.txt-projeto {
    opacity: 0;
    position: absolute;
    text-align: center;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
}

.card-projeto:hover {
    transition: ease-in-out 0.5s;
}

.card-projeto:hover .capa-card {
    opacity: 0;
}

.card-projeto:hover .txt-projeto {
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.ver-detalhes {
    background: transparent;
    padding: 8px 20px 8px 20px;
    border-radius: 20px;
    transition: ease-in-out 0.5s;
}

.ver-detalhes:hover {
    transform: scale(1.1, 1.1);
    transition: ease-in-out 0.5s;
}

.img-modal {
    width: 100%;
}

.texto-modal {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    justify-content: space-evenly;
    height: 100%;
    padding: 1.5rem;
}

.tecnologias {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
}

.tecnologia, .rotulo {
    font-size: 0.75em;
    padding: 0.3rem;
    border-radius: 3px;
    background-color: rgba(192, 131, 239, 0.2);
    color: white;
}

.botoes-modal {
    width: 100%;
    text-align: center;
    padding: 0.75rem;
}

.botoes-modal a {
    padding: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 20px;
}

#btCodigoFonte {
    vertical-align: middle;
}

#btVisualizar.bt-desativado, #btCodigoFonte.bt-desativado {
    display: none;
}

/* Seção "Contatos" */
#secaoContato {
    min-height: 88vh;
}

.contatos {
    display: flex;
    row-gap: 2rem;
    column-gap: 2rem;
    justify-content: center;
}

.contato {
    text-align: center;
}

.contato i {
    font-size: 3em;
    padding: 1rem;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    text-align: center;
    margin-bottom: 1rem;
    transition: ease-in-out 0.6s;
}

.contato i:hover {
    transform: scale(1.1, 1.1);
    transition: ease-in-out 0.6s;
}

#topo {
    text-align: center;
    margin-bottom: 1rem;
}

/* Animações para exibição das seções*/
.slide-in .conteudo-secao{
    animation-name: slideIn;
    animation-duration: 1.3s;
    opacity: 1;
}

.slide-out .conteudo-secao {
    animation-name: slideOut;
    animation-duration: 1.3s;
    opacity: 0;
    transition-delay: 1.2s;
}

@media screen and (min-width: 768px) {
    .slide-in .conteudo-secao{
        animation-duration: 1.7s;
    }
    
    .slide-out .conteudo-secao {
        animation-duration: 1.7s;
        transition-delay: 1.5s;
    }
}
  
@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

  @keyframes slideOut {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
  }

/*Rodapé*/
#rodape {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}

#rodape .codigo-fonte {
    font-size: 1.2em;
    vertical-align: middle;
    margin-left: 5px;
}

#creditosIlustracoes {
    font-size: 0.75em;
}

#creditosIlustracoes i {
    font-size: 0.7em;
}