:root {
    /*Cores do tema*/
    --violeta: #9800EF;
    --lilas: #C083EF;
    --lilas-mais-claro: #DCC0EF;
    --laranja: #E63329;
    --amarelo: #FF930A;
    --violeta-medio: #5F2B80;
    --violeta-escuro: #39005B;
    --violeta-mais-escuro: #28003F;
    --variacao-branco: #F2EFEB;    
}

/* Estilo geral da página */
* {
    color: #bbb;
}

#conteudoPagina {
    background-color: var(--violeta-mais-escuro);
}

/* Estilo da barra de navegação */
#barraNavegacao {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 10px -3px;
    background-color: var(--violeta-mais-escuro);
}

#navBtContato {
    border: 1px solid var(--violeta);
    color: white;
}

#navSecoes #navBtContato:hover {
    background-color: var(--violeta);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

#navLogotipo span {
    color: white;
}

#navSecoes .nav-link {
    color: white;
}

#navSecoes .nav-link:hover {
    color: var(--violeta);
}

/* Estilo geral das seções */
.titulo-secao, .subtitulo-secao {
    color: var(--variacao-branco);
}

.titulo-secao::after {
    background: var(--laranja);
}

/* Seção "Início" */
.titulo {
    color: var(--variacao-branco);
}

.titulo span {
    color: var(--violeta);
}

#btProsseguir, #btVoltarAoTopo {
    border: 2px solid var(--violeta);
    color: var(--violeta);
}

.fa-chevron-down, .fa-chevron-up {
    color: var(--variacao-branco);
}

#btProsseguir:hover, #btVoltarAoTopo:hover {
    background-color: var(--violeta);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

/* Seção "Sobre mim" */
#fotoSobreMim img {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

#habilidades > i {
    color: var(--violeta);
}

#habilidades .icon {
    background-color: var(--violeta);
    color: var(--violeta-mais-escuro);
}

/* Seção "Projetos" */
.filtro:hover {
    color: var(--violeta) !important;
}

.filtro.ativo {
    background-color: var(--violeta);
    color: white;
    transition: ease-in-out 0.5s;
}

.filtro.ativo:hover {
    color: white !important;
}


.card-projeto {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    background-color: var(--violeta-escuro);
}

.card-projeto:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.ver-detalhes {
    border: 2px solid var(--violeta);
    color: white;
}

.ver-detalhes:hover {
    background: var(--violeta);
}

.modal-content {
    background-color: var(--violeta-escuro) !important;
}

.modal-title {
    color: var(--variacao-branco);
}

.tecnologia, .rotulo {
    background-color: rgba(192, 131, 239, 0.2);
    color: white;
}

.botoes-modal a {
    color: var(--variacao-branco); 
}

#btVisualizar {
    border: 1px solid var(--violeta);
}

#btVisualizar:hover, #btCodigoFonte:hover {
    background-color: var(--violeta);
    color: white;
}

#btCodigoFonte {
    background-color: rgba(192, 131, 239, 0.2);
}

#btCodigoFonte i {
    color: var(--variacao-branco);
}

/* Seção "Contatos" */
.contato i {
    border: 2px solid var(--violeta);
    color: var(--violeta);
}

.contato i:hover {
    background-color: var(--violeta);
    color: var(--violeta-mais-escuro);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

/* Botão para alterar estilo */
#btAlterarTema {
    background-color: transparent;
}

#btAlterarTema:hover i{
    color: var(--violeta);
}

#iconTemaClaro {
    display: none;
}

/*Rodapé*/
#rodape {
    background-color: var(--violeta-mais-escuro);
}

#rodape .codigo-fonte:hover i {
    color: var(--violeta);
}